<table class="leaderboard">
  <tbody>
    <% @indices.each_with_index do |index, idx| %>
      <!-- Playah -->
      <tr>
        <td><%= idx + 1 %></td>
        <td>
          <div class="leaderboard__playah">
            <img class="leaderboard__playah__icon" src="<%= index.user.avatar_url %>"></img>
            <div>
              <div><%= index.name %></div>
              <div><%= index.user.name %></div>
            </div>
          </div>
        </td>
        <td>
          <%= number_to_currency rand(1000) + 100 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
