<div class="leaderboard__wrapper">
  <table class="leaderboard">
    <tbody>
      <tr>
        <th>#</th>
        <th>Index</th>
        <th>Value</th>
        <th>Change (10 min)</th>
      </tr>
      <% @indices.each_with_index do |index, idx| %>
        <% cache ['home', index] do %>

        <tr onclick="location.href='<%= index_path(index) %>'">
          <td class="leaderboard__rank"><%= idx + 1 %>.</td>
          <td>
            <div class="leaderboard__playah">
              <img class="leaderboard__playah__icon" src="<%= index.user.avatar_url %>"></img>
              <div>
                <div class="leaderboard__index-name"><%= index.name %></div>
                <div class="leaderboard__index-playah"><%= index.user.name %></div>
              </div>
            </div>
          </td>
          <td class="big-numbah">
            <%= number_to_currency index.value %>
          </td>
          <td class="big-numbah">
            <%= positive_negative_format index.value_diff_percent, formatter: :percentage %>
          </td>
        </tr>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
