<table class="leaderboard">
  <tbody>
    <% @indices.each_with_index do |index, idx| %>
      <!-- Playah -->
      <tr>
        <td><%= idx + 1 %></td>
        <td>
          <%= link_to index_path(index) do %>
            <div class="leaderboard__playah">
              <img class="leaderboard__playah__icon" src="<%= index.user.avatar_url %>"></img>
              <div>
                <div><%= index.name %></div>
                <div><%= index.user.name %></div>
              </div>
            </div>
          <% end %>
        </td>
        <td>
          <%= number_to_currency index.value %>
        </td>
        <td>
          <% if index.value_diff_1h.present? %>
            <% if index.value_diff_1h > 0 %>
              <span style="color: green;">+<%= number_to_currency index.value_diff_1h %></span>
            <% else %>
               <span style="color: red;"><%= number_to_currency index.value_diff_1h %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
