<%= form_for @index do |f| %>

<div class="name-asset">
  <%= f.text_field :name, placeholder: 'Name your index...' %>
</div>
<div class="picked_assets"></div>
<table class="assets">
  <thead>
    <tr class="assets__legend">
      <td>#</td>
      <td>Name</td>
      <td>Market Cap</td>
      <td>Price</td>
    </tr>
  </thead>
  <tbody>
    <% @assets.each_with_index do |asset, idx| %>
      <tr class="asset" data-id="<%= asset.id %>" data-code="<%= asset.code %>" data-name="<%= asset.name %>">
        <td><%= idx + 1 %></td>
        <td><%= asset.name %></td>
        <td>
          <% if asset.market_cap? %>
            <%= number_to_currency asset.market_cap, precision: 0 %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td><%= number_to_currency asset.price, precision: 6 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= f.submit %>
<% end %>
