<%= form_for @index do |f| %>

<p>
  <label>Name your index</label>
  <%= f.text_field :name %>
</p>

<table class="assets">
  <tbody>
    <!-- Legend -->
    <tr class="assets__legend">
      <td>#</td>
      <td>Name</td>
      <td>Market Cap</td>
      <td>Price</td>
      <td>Selected</td>
    </tr>
    <% @assets.limit(15).each_with_index do |asset, idx| %>
      <!-- Asset -->
      <tr class="asset">
        <td><%= idx + 1 %></td>
        <td><%= asset.name %></td>
        <td>
          <% if asset.market_cap? %>
            <%= number_to_currency asset.market_cap, precision: 0 %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td><%= number_to_currency asset.price %></td>
        <td><%= check_box_tag 'index[codes][]', asset.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= f.submit %>
<% end %>
