<% cache ['show', @index] do %>

<% all_time_diff = @index.value - Index::BASELINE %>

<% @page_title = "#{@index.name} by #{@index.user.name}" %>

<% if all_time_diff > 0 %>
  <% @page_title = "ðŸ“ˆ #{@page_title}" %>
<% elsif all_time_diff < 0 %>
  <% @page_title = "ðŸ“‰ #{@page_title}" %>
<% else %>
<% end %>


<% @page_description = "All time profits #{number_to_currency(all_time_diff)}. Composed of #{@index.positions.count} assets: #{@index.positions.map(&:asset).map(&:code).to_sentence}." %>
<% @page_og_description = @page_description %>

<div class="index__wrapper">
  <div class="index__col--left">
    <div>
      <div><%= @index.user.name %> presents</div>
      <h1 class="index__title"><%= @index.name %></h1>
    </div>
    <div class="index__stat__group">
      <div class="index__stat">
        <div>Total value</div>
        <h2 class="index__big-numbahs">
          <%= number_to_currency @index.value %>
        </h2>
      </div>
      <div class="index__stat">
        <div>Recent change (10 mins)</div>
        <h2 class="index__big-numbahs">
          <%= positive_negative_format @index.value_diff_percent, formatter: :percentage %>
        </h2>
      </div>
    </div>
  </div>
  <div class="index__col">
    <table class="index__table">
      <tbody>
        <!-- Legend -->
        <tr class="assets__legend index">
          <td>#</td>
          <td>Name</td>
          <td>Amount</td>
          <td>Weight</td>
          <td>Initial Value</td>
          <td>Current Value</td>
          <td>Price</td>
        </tr>
        <% @index.positions.each_with_index do |position, idx| %>
          <!-- Asset -->
          <tr class="asset show__asset">
            <td><%= idx + 1 %></td>
            <td class="asset__link"><%= link_to position.asset.name, "https://coinmarketcap.com/currencies/#{position.asset.idem}", :target => '_blank' %></td>
            <td><%= number_with_precision position.size, precision: 2, delimiter: "," %> <%= position.asset.code %></td>
            <td><%= number_to_percentage position.relative_weight * 100, precision: 0 %></td>
            <td>
              <%= number_to_currency position.value_at_purchase %>
            </td>
            <td>
              <%= number_to_currency position.value %>
              <%= positive_negative_format ((position.value / position.value_at_purchase) - 1) * 100, formatter: :percentage %>
            </td>
            <td><%= number_to_currency position.asset.price, precision: 6 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="delete-fund">
  <% if signed_in? && @index.user == current_user %>
    <%= button_to "â˜ ï¸ Delete â˜ ï¸", @index, method: :delete, :"data-confirm" => 'Are you sure?' %>
  <% end %>
</div>

<% end %>
