<h1><%= @index.name %></h1>
<div>by <%= @index.user.name %></div>
<div>Started on <%= l @index.created_at %></div>

<table class="assets">
  <tbody>
    <!-- Legend -->
    <tr class="assets__legend">
      <td>#</td>
      <td>Name</td>
      <td>Market Cap</td>
      <td>Price</td>
    </tr>
    <% @index.assets.each_with_index do |asset, idx| %>
      <% value = asset.values.last %>

      <!-- Asset -->
      <tr class="asset">
        <td><%= idx + 1 %></td>
        <td><%= asset.name %></td>
        <td><%= number_to_currency value.market_cap_usd %></td>
        <td><%= number_to_currency value.price_usd %></td>
      </tr>
    <% end %>
  </tbody>
</table>
